<!-- Reusable Item Card Component -->

{% macro item_card(item, viewer_role, viewer_login) %}
<div class="full-card">
    <div class="item-card-header"></div>
    <div class="card" style="position: relative">
        <div style="display: grid; grid-template-columns: 30% 1fr; gap: 15px;">
            <div style="display: flex; justify-content: center;">
                <!-- If there's an image -->
                {% if item.image_url %}
                    <img src="{{ item.image_url }}" style="width: 100%; max-width: 100%; height: auto; border-radius: 10px;"></img>
                {% else %}
                    <p style="display: flex; justify-content: center; align-items: center; background-color: rgb(221, 221, 221); border-radius: 10px; width: 100%; max-width: 100%; height: auto; padding: 15px;">No Image Available</p>
                {% endif %}
            </div>
            <div style="position: relative;">
                <p style="font-size: 32px; margin: 0px;">{{ item.item_name }}</p>
                
                <div style="display: flex; align-items: center; gap: 5px; color: rgb(112, 112, 112);">
                    <p style="font-size: 20px; margin: 0px;">{{ item.item_condition }}</p>
                    <p style="font-size: 20px; margin: 0px;">•</p>
                    <p style="font-size: 20px; margin: 0px;">{{ item.category }}</p> 
                </div>
                
                <p style="font-size: 32px; font-weight: bold; margin-top: 10px; margin-bottom: 0px;">${{ item.starting_price }}</p>
                
                <div style="font-size: 20px; margin-top: 10px; margin-bottom: 5px;">
                    posted by
                    <!-- If posted by user, no need to link profile -->
                    {% if viewer_role == 'Seller' and viewer_login == item.seller_login %}
                        <b>YOU</b>
                    {% else %}
                        <a href="/profile/{{ item.seller_login }}" class="user">
                            <b>{{ item.seller_login }}</b>
                        </a>
                    {% endif %}
                </div>
                <p style="font-size: 16px; margin: 0px;">{{ item.description }}</p>
            </div>
        </div>
        {% if (viewer_role == 'Seller' and viewer_login == item.seller_login) or viewer_role == 'Admin' %}
            <a href="/manage_items/{{ item.item_id }}" style="text-decoration: none; color: inherit;">
                <div class="view spin-element">
                    <p style="margin: 0px; font-size: 20px;">Edit Item</p>
                    <i class="fa-solid fa-gear spin" style="margin: 0px; font-size: 24px;"></i>
                </div>
            </a>
        {% endif %}
    </div>
</div>
{% endmacro %}