<!-- Auction Page -->
<!-- Display all auctions -->
<!-- TODO: Display auction fields, allowign pressign to bid -->

{% extends "base.html" %}

{% block content %}
    Auction Page
    {% if results %}
        <div class="grid">
        <!-- Display all results in a grid -->
        {% for auction in results %}
            <div class="card">
                {{ auction.auction_status }} — {{ auction.current_highest_bid }}
                {{ auction.item_name }}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No items found.</p>
    {% endif %}
{% endblock %}