<!-- Auction Page -->
<!-- Display all auctions -->
<!-- TODO: Display auction fields, allowign pressing to bid (go into screen that display all item details and allows bidding)
 add filerting, search bar -->

{% from "macros/auction_card.html" import auction_card %}
{% extends "base.html" %}

{% block content %}
    <!-- Display all auctions -->
    {% if results %}
        <div class="grid" style="margin-top: 5%;">
            <!-- Display all results in a grid -->
            {% for auction in results %}
                {{ auction_card(auction, viewer_role, viewer_login) }}
            {% endfor %}
        </div>
    {% else %}
        <p>No auctions found.</p>
    {% endif %}
{% endblock %}