<!-- Base Template for all pages -->

<!DOCTYPE html>
<html>
<head>
    <title>tBay</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script>
        function openModal(id) {
            document.getElementById(id).style.display = "block";
        }

        function closeModal(id) {
            document.getElementById(id).style.display = "none";
        }

        // close when clicking outside
        window.onclick = function(event) {
            if (event.target.classList.contains("modal")) {
                event.target.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <!-- Navbar Component -->
    {% include "navbar.html" %}
    {% from "macros/modal.html" import modal %}

    {% block content %}{% endblock %}

    <!-- Creating Items -->
    {{ modal(
        "add-item",
        "Add Item",
        "/add_item",
        [
            {"type":"text","name":"item_name","placeholder":"Item Name","required":True},
            {"type":"text","name":"category","placeholder":"Category","required":True},
            {"type":"number","name":"starting_price","placeholder":"Starting Price","required":True},
            {"type":"text","name":"image_url","placeholder":"Image URL","required":False},
            {"type":"text","name":"item_condition","placeholder":"Item Condition","required":False},
            {"type":"text","name":"description","placeholder":"Description","required":False}
        ],
        "Create Item"
    ) }}
</body>
</html>