<!-- Bid Page -->
<!-- Display information about the bid and allow bidding -->

{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
        <div style="width: 80vw; position: relative;">
            <hr>
            <!-- Go Back Button -->
            <a href="/auctions" style="text-decoration: none; color: inherit; left: 0px; display: inline-block;">
                <div class="go-back">
                    <i class="fa-solid fa-left-long" style="margin: 0px; font-size: 24px;"></i>
                    <p style="margin: 0px; font-size: 20px;">Go Back</p>
                </div>
            </a>
            <div style="margin-top: 15px; display: grid; grid-template-columns: 70% 1fr; gap: 15px; margin-bottom: 15px;">
                <div>
                    <div style="position: relative;">
                        <div style="display: grid; grid-template-columns: 30% 1fr; gap: 25px;">
                            <div style="display: flex; justify-content: center;">
                                <!-- If there's an image -->
                                {% if auction.image_url %}
                                    <img src="{{ auction.image_url }}" style="width: 100%; max-width: 100%; height: auto; border-radius: 10px;"></img>
                                {% else %}
                                    <p style="display: flex; justify-content: center; align-items: center; background-color: rgb(221, 221, 221); border-radius: 10px; min-width: 15vw; min-height: 15vw; padding: 15px;">No Image Available</p>
                                {% endif %}
                            </div>
                            <div style="position: relative;">
                                <div style="position: relative; display: grid; grid-template-columns: 80% 1fr; gap: 5px;">
                                    <p style="font-size: 32px; margin: 0px;">{{ auction.item_name }}</p>
                                    <div style="position: absolute; top: 0px; right: 0; text-align: right;">
                                        {% if auction.time_left %}
                                            <p style="font-size: 20px; margin: 0px;"><b>{{ auction.time_left }}</b></p>
                                        {% endif %}
                                        <p style="font-size: 12px; margin: 0px;">Created on {{ auction.readable_start }}</p>
                                        <p style="font-size: 12px; margin: 0px;">Ends by {{ auction.readable_end }}</p>
                                    </div>
                                </div>

                                <!-- Change color based on auction status -->
                                {% if auction.auction_status == "Active" %}
                                    <span style="font-size: 20px; margin: 0px; background-color: rgb(149, 255, 144); border-radius: 10px; padding-left: 10px; padding-right: 10px;">{{ auction.auction_status }}</span>
                                {% else %}
                                    <span style="font-size: 20px; margin: 0px; background-color: rgb(255, 144, 144); border-radius: 10px; padding-left: 10px; padding-right: 10px;">{{ auction.auction_status }}</span>
                                {% endif %}
                                
                                <!-- Chance price based on color to show user urgency -->
                                <p style="margin-top: 15px; margin-bottom: 0px;">Current Highest Bid</p>
                                {% if auction.current_highest_bid == 0 %}
                                    <p style="font-size: 32px; font-weight: bold; margin: 0px; color: rgb(12, 207, 54);">${{ auction.current_highest_bid }}</p>
                                {% elif auction.current_highest_bid > 0 and auction.current_highest_bid < auction.high_threshold %}
                                    <p style="font-size: 32px; font-weight: bold; margin: 0px; color: rgb(16, 129, 235);">${{ auction.current_highest_bid }}</p>
                                {% else %}
                                    <div style="display: flex; align-items: center;">
                                        <p style="font-size: 32px; font-weight: bold; margin: 0px; color: rgb(236, 46, 40);">${{ auction.current_highest_bid }}</p>
                                        <span style="background-color: rgb(255, 68, 0); color: yellow; margin: 0px; border-radius: 15px; padding-left: 10px; padding-right: 10px; font-weight: bold; margin-left: 10px;">HOT</span>
                                    </div>
                                {% endif %}

                                <!-- If a bid has been placed, show highest bid -->
                                {% if highest_bid %}
                                    <div style="font-size: 16px;">
                                        by
                                        <a href="/profile/{{ highest_bid.buyer_login }}" class="user">
                                            <b>{{ highest_bid.buyer_login }}</b>
                                        </a>
                                        on {{ highest_bid.readable_timestamp }}
                                    </div>
                                {% else %}
                                    <p>No bids yet</p>
                                {% endif %}

                                <!-- If auction has a winner -->
                                {% if auction.winner_login %}
                                    <p style="font-size: 20px; margin-top: 15px; margin-bottom: 0px;"><b>Winner: </b> {{ auction.winner_login }}</p>
                                {% endif %}

                                <!-- Add Bidding -->
                                {% if auction.auction_status == 'Active' and viewer_role == 'Buyer' %}
                                    <div style="position: absolute; right: 0px; bottom: 0px; text-align: right;">
                                        {% if error %}
                                            <p style="margin: 0px; color: red;">{{ error }}</p>
                                        {% endif %}
                                        <form action="/add_bid" method="POST">
                                            <input type="hidden" name="auction_id" value="{{ auction.auction_id }}">
                                            <label style="font-size: 20px;">Bid: $</label>
                                            <input type="number" name="bid" placeholder="0" required>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bidding Table History -->
                <div>
                    <table class="bid-table">
                        <thead>
                            <tr>
                                <th>Bidder</th>
                                <th>Amount</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for bid in bids[:3] %}
                            <tr>
                                <td>
                                    <a href="/profile/{{ bid.buyer_login }}" class="user">
                                        {{ bid.buyer_login }}
                                    </a>
                                </td>
                                <td>${{ bid.bid_amount }}</td>
                                <td>{{ bid.readable_timestamp }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if bids|length > 3 %}
                        <details>
                            <summary>Show {{ bids|length - 3 }} more bids</summary>

                            <table class="bid-table">
                                <tbody>
                                    {% for bid in bids[3:] %}
                                    <tr>
                                        <td>
                                            <a href="/profile/{{ bid.buyer_login }}" class="user">
                                                {{ bid.buyer_login }}
                                            </a>
                                        </td>
                                        <td>${{ bid.bid_amount }}</td>
                                        <td>{{ bid.readable_timestamp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </details>
                    {% endif %}
                </div>
            </div>
            <hr>
            <!-- Display item info -->
            <div style="display: flex; align-items: center; gap: 5px; color: rgb(112, 112, 112); margin-top: 10px;">
                <p style="font-size: 20px; margin: 0px;">{{ auction.item_condition }}</p>
                <p style="font-size: 20px; margin: 0px;">•</p>
                <p style="font-size: 20px; margin: 0px;">{{ auction.category }}</p> 
            </div>
            <p style="font-size: 16px; margin: 0px;">{{ auction.description }}</p>
            <p style="font-size: 24px; font-weight: bold; margin-top: 10px; margin-bottom: 0px;">Original Asking Price: ${{ auction.starting_price }}</p>
            <div style="font-size: 20px; margin-top: 10px; margin-bottom: 5px;">
                sold by
                <a href="/profile/{{ auction.seller_login }}" class="user">
                    <b>{{ auction.seller_login }}</b>
                </a>
            </div>
        </div>
    </div>
{% endblock %}