<!-- Dashboard -->
<!-- Homeplace for logged in users -->
<!-- TODO: add following features
    - browse items
    - search auctions
    - place bids
    - view auction status
    - view/edit profile
    - log out 
    - add role specific buttons 
    - add a "your bids" or "your items" section on dashboard -->

{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center; margin-bottom: 0px; margin-top: 5%;">Dashboard</h1>
    <h2 style="display: flex; justify-content: center; margin: 0px;">Welcome {{ user.login }}!</h2>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh;">
        <!-- Search Bar (searches by item name) -->
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Search anything" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
{% endblock %}