<!-- Dashboard -->
<!-- Homeplace for logged in users -->
<!-- TODO: add following features
    - browse items
    - search auctions
    - place bids
    - view auction status
    - view/edit profile
    - log out 
    - add role specific buttons 
    - add a "your bids" or "your items" section on dashboard -->

{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center; margin-bottom: 0px; margin-top: 5%;">Dashboard</h1>
    <h2 style="display: flex; justify-content: center; margin: 0px;">Welcome {{ user.login }}!</h2>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 5%;">
        <!-- Search Bar (searches by item name) -->
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Search anything" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 5%;">  
        <!-- Show different options based on role -->
        {% if user.role == 'Admin' %}
            <div style="display: flex; gap: 15px;">
                <a href="/items_admin" style="text-decoration: none; color: inherit;">
                    <button class="button-green">
                        Manage Items/Auctions
                    </button>
                </a>
                <a href="/manage_users" style="text-decoration: none; color: inherit;">
                    <button class="button-green">
                        Manage Users
                    </button>
                </a>
            </div>
        {% elif user.role == 'Seller' %}
            <a href="/items_seller" style="text-decoration: none; color: inherit;">
                <button class="button-green">
                    Manage Items/Auctions
                </button>
            </a>
        {% else %}
            <div style="display: flex; gap: 15px;">
                <a href="/payments" style="text-decoration: none; color: inherit;">
                    <button class="button-green">
                        View Payments
                    </button>
                </a>
                <a href="/shipments" style="text-decoration: none; color: inherit;">
                    <button class="button-green">
                        View Shipments
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}