<!-- Dashboard -->
<!-- Homeplace for logged in users -->
<!-- TODO: add following features
    - browse items
    - search auctions
    - place bids
    - view auction status
    - view/edit profile
    - log out 
    - add role specific buttons -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <!-- Navbar Component -->
        {% include "navbar.html" %}

        <h1 style="display: flex; justify-content: center; margin: 0px;">Dashboard</h1>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
            <!-- Search Bar (searches by item name) -->
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search auctions">
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>