<!-- Home Page -->
<!-- Features main logo of website as well as button to go to login page -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; font-size: 84px; font-weight: bold;">
                <span style="color: red; margin: 0px;">t</span>
                <span style="color: blue; margin: 0px;">B</span>
                <span style="color: rgb(255, 221, 0); margin: 0px;">a</span>
                <span style="color: greenyellow; margin: 0px;">y</span>
            </div>
            <p style="margin-top: 15px;">a CS166 Online Auction and Bidding System</p>

            <div style="display: flex; flex-direction: column; gap: 5px;">
                <!-- Login Button -->
                <a href="/login">
                    <button style="padding: 10px 20px; font-size: 16px;">
                        Login
                    </button>
                </a>

                <!-- Sign Up Button -->
                <a href="/signup">
                    <button style="padding: 10px 20px; font-size: 16px;">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>