<!-- Item Page -->
<!-- Display all items -->
<!-- TODO: Add ordering/filtering, search bar -->

{% from "macros/auction_card.html" import auction_card %}
{% from "macros/item_card.html" import item_card %}
{% extends "base.html" %}

{% block content %}
    <!-- Display all items -->
    <div style="margin-top: 5%; position :relative;">
        {% if viewer_role == 'Seller' %}
            <div style="position: absolute; right: 15%;">
                <a href="#" onclick="openModal('add-item'); return false;" style="text-decoration: none; color: inherit;">
                    <i class="fa-solid fa-plus plus"></i>
                </a>
            </div>
        {% endif %}
    </div>
    {% if results %}
        <div class="grid">
            <!-- Display all results in a grid -->
            {% for result in results %}
                <!-- If this is an auction, display as auction -->
                    {% if result.auction_id %}
                        {{ auction_card(result, viewer_role, viewer_login) }}
                    <!-- Else, display as an item -->
                    {% else %}
                        {{ item_card(result, viewer_role, viewer_login) }}
                    {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <h2 style="display: flex; justify-content: center;">No items found.</h2>
    {% endif %}
{% endblock %}