<!-- Item Page -->
<!-- Display all items -->
<!-- TODO: Add ordering/filtering, search bar -->

{% from "macros/item_card.html" import item_card %}
{% extends "base.html" %}

{% block content %}
    <!-- Display all items -->
    {% if results %}
        <div class="grid" style="margin-top: 5%;">
            <!-- Display all results in a grid -->
            {% for item in results %}
                {{ item_card(item) }}
            {% endfor %}
        </div>
    {% else %}
        <p>No items found.</p>
    {% endif %}
{% endblock %}