<!-- Navbar -->
<div style="position: sticky; top: 0px; display: flex; justify-content: center; gap: 5px;">
    <!-- Log Out Button -->
    <a href="/">
        <button style="position: absolute; padding: 10px 20px; font-size: 16px; left: 0px;">
            Log Out
        </button>
    </a>

    <!-- Dashboard Home Page -->
    <a href="/dashboard">
        <button style="padding: 10px 20px; font-size: 16px;">
            Dashboard
        </button>
    </a>

    <!-- Browse all items -->
    <a href="/items">
        <button style="padding: 10px 20px; font-size: 16px;">
            Browse Items
        </button>
    </a>

    <!-- Browse all auctions -->
    <a href="/auctions">
        <button style="padding: 10px 20px; font-size: 16px;">
            Browse Auctions
        </button>
    </a>

    <!-- View shipments -->
    <a href="/shipment">
        <button style="padding: 10px 20px; font-size: 16px;">
            View Shipments
        </button>
    </a>

    <!-- View/Edit Profile Button -->
    <a href="/profile">
        <button style="position: absolute; padding: 10px 20px; font-size: 16px; right: 0px;">
            Edit Profile
        </button>
    </a>
</div>