<!-- Shipment Page -->
<!-- Display information about a users shipments -->

{% extends "base.html" %}

{% block content %}
    {% if results %}
        <div class="grid" style="margin-top: 5%;">
        <!-- Display all results in a grid -->
        {% for result in results %}
            <div class="full-card">
                <div class="shipment-card-header"></div>
                <div class="card">
                    <div style="display: grid; grid-template-columns: 120px 1fr; gap: 20px;">
                        <div>
                            {% if result.image_url %}
                                <img src="{{ result.image_url }}"
                                    style="width: 120px; height: 120px; object-fit: cover; border-radius: 10px;">
                            {% else %}
                                <div style="width:120px; height:120px; background:#ddd; border-radius:10px; display:flex; justify-content:center; align-items:center;">
                                    No Image Available
                                </div>
                            {% endif %}
                        </div>
                        <div style="position: relative;">
                            <h2 style="margin-top:0;">{{ result.item_name }}</h2>
                            <p style="margin:5px 0;">
                                <b>Address:</b>
                                ${{ result.address }}
                            </p>
                            <p style="margin:5px 0;">
                                <b>Status:</b>
                                {% if result.shipment_status == 'Delivered' %}
                                    <span style="color:green;font-weight:bold;">
                                        Delivered
                                    </span>
                                {% elif result.shipment_status == 'Shipped' %}
                                    <span style="color:rgb(83, 137, 255);font-weight:bold;">
                                        Shipped
                                    </span>
                                {% else %}
                                    <span style="color: rgb(255, 128, 48);font-weight:bold;">
                                        Pending
                                    </span>
                                {% endif %}
                            </p>
                            <p style="margin:5px 0;">
                                <b>Tracking Number:</b>
                                {{ result.tracking_number }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 style="display: flex; justify-content: center;">No shipments found.</h2>
    {% endif %}
{% endblock %}